.inputborder{
    border: 2px solid black;
}
.formbox{
    width: 500px;
    height: 500px;
    background-color: black;
    color: white;
    margin-left: 400px; 
    margin-top: -350px; 
}
#box1{
    justify-content: center;
}

/* for display box coding */
.maincontainer{
    background-color: teal;
    width: 600px;
    height: 600px;
    color: white;
    margin-top: 30px;
    margin-left: 350px;
}
.inputbox{
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-top: 50px;
}
.displaybox{
    width: 150px;
    height: 150px;
    background-color: gray;
    margin-left: 220px;
    margin-top: 50px;
    justify-content: center;
}
.buttongrid{
    display: grid;
    grid-template-columns:  15% 15% 15%;
    grid-template-rows: 50% 50% 50% 50%;
    grid-gap: 10%;
    justify-content: center;
    margin-top: 30px;
}
.enterbutton{
    width: 20%;
    height: 8%;
    margin-top: 120px;
    margin-left: 240px;
    
}