.grid{
  display: grid;
  grid-template-columns: 10% 10%;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20%;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
}
.grid_button{
  display: grid;
  grid-template-columns: 10% 10%;
  grid-template-rows: 30% 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  justify-content: center;
}
.vallu{
  margin-top: 250px;
}